@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* { 
    font-family: "Quicksand";
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
display: flex;
   justify-content: center; 
    height: 100vh;
    font-size: 12px; 
    background: linear-gradient(to right, #733092c0, #3c0b42ce);
}


.title{
    font-size: 40px;
    display: block;
    margin: 20px;
    letter-spacing: 3px;
    color: #3c0b42ce;
    font-weight: bold;
}

form{

    text-align: center; 
    margin: 30px;  
}

form input[type="text"]{
        font-size: 16px;
    outline: none;
    border: none;
    width: 50%;
    opacity: 0.5;  
    margin-top: 20px; 
    padding: 20px 40px 20px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.descriptionToDo{
    resize: none; 
    border: none;
    outline: none;
    font-size: 14px;
    outline: none;
    width: 50%;
    opacity: 0.5;  
    margin-top: 10px;
    padding: 20px 40px 20px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button{
    width: 50%;
  margin: 10px;
    padding: 15px;
    background-color: #3c0b42ce;
    font-size: 16px;
    color: white;
border: none;
border-radius: 4px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
cursor: pointer;
text-decoration: underline;
}



ul { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
   grid-gap: 0rem;
    margin-top: 100px;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    text-align: center; 
    color: white;
}

@media screen and (max-width: 600px) {
.li{
    margin: 0 auto;
    align-items: center;
}
  
  }

li {
    position: relative;
    min-width: 20px;
  max-width: 300px;
 border: 1px solid #3c0b429d;
 background-color: #3c0b4270;
 padding: 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.404);
}

.delete
{
    position: absolute;
    top: -9px;
    right: 5px;
    margin-top: 1rem;
    font-size: 10px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    background-color: #3c0b42ce;
    padding: 4px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.delete:hover{
    cursor: pointer;
    text-decoration: underline;
}

span{
    display: block; 
    font-size: 14px;
}


.doTitle{
    display: inline-block;
    background-color: #3c0b42ce;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .comment {
       text-align: left;
       font-size: 12px;
    
   }

   #errorMessage
   {
       padding: 5px;
       color: red;
   }